<div class="container">
	<h2>Pelin tiedot</h2>
	
	<p> Paikka <br/>
		<input type="text" value="<%= @peli.place %>" />
	</p>
	
	<p> Aika <br/>
		<input type="text" value="<%= @peli.time %>" />
	</p>
	
	<p> Kuvaus <br/>
		<textarea rows="6"><%= @peli.description %></textarea>
	</p>
	
	<input class="btn" type="button" value="Tallenna" onclick="save_peli()" />	
</div>


<script>
	function save_peli() {
		var paikka
		
	}
	
</script>
