<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Saanto</th>
				<th>Tarkennuksia</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Ei saa roskata</th>
				<td>Jos olet jaskanut tuoda kamaa pelialueelle, jaksat myos vieda sen pois.</td>
			</tr>
			<tr>
				<th>Avotulenteossa jarki mukaan</th>
				<td>Senhan sanoo jo jarkikin, eiko vaan?</td>
			</tr>
			<tr>
				<th>Ei saa sita eika tata</th>
				<td>Eika oikeastaan yhtaan mitaan. Paitsi lahjoa pelinjarjestajia.</td>
			</tr>
		</tbody>
	</table>
</div>