<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Sääntö</th>
				<th>Tarkennuksia</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Ikäraja on 15v</th>
				<td>Yleisen toimivuuden ja mukavuuden nimissä. Airsoft ei ole pikkupoikien laji.</td>
			</tr>
			<tr>
				<th>Ei saa roskata</th>
				<td>Jos olet jaksanut tuoda kamaa pelialueelle, jaksat myos viedä sen pois.</td>
			</tr>
			<tr>
				<th>Avotulenteossa järki mukaan</th>
				<td>Ei kuivaan pusikkoon tai sisälle. Nuotiopaikat on sitä varten jos on.</td>
			</tr>
			<tr>
				<th>Ei saa sitä eika tätä</th>
				<td>Eikä oikeastaan yhtään mitään. Paitsi lahjoa pelinjärjestäjiä.</td>
			</tr>
			<tr>
				<th>Ei puhuta rumia</th>
				<td>Eikä oikeastaan yhtään mitään.</td>
			</tr>
			<tr>
				<th>Tyttöjä ei saa tuoda peleihin</th>
				<td>Eikä oikeastaan yhtään mitään.</td>
			</tr>
		</tbody>
	</table>
</div>
