<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Sääntö</th>
				<th>Tarkennuksia</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Ei saa roskata</th>
				<td>Jos olet jaskanut tuoda kamaa pelialueelle, jaksat myos viedä sen pois.</td>
			</tr>
			<tr>
				<th>Avotulenteossa järki mukaan</th>
				<td>Senhän sanoo jo järkikin, eikö vaan?</td>
			</tr>
			<tr>
				<th>Ei saa sitä eika tätä</th>
				<td>Eikä oikeastaan yhtään mitään. Paitsi lahjoa pelinjärjestäjiä.</td>
			</tr>
		</tbody>
	</table>
</div>