<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Sääntö</th>
				<th>Tarkennuksia</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Silmäsuojaus</th>
				<td>
					Pelatessa kaikilla tulee olla asianmukainen silmäsuojaus. Kaikki epävarmat silmäsuojat testataan.
					Jos et halua etta epävarmat siljasuojasi testataan, ei niillä pelaamaankaan päästeta.
				</td>
			</tr>
			<tr>
				<th>Komennot toistetaan</th>
				<td>
					Kun pelinjohtaja huutaa komennon, kuten "Peli käy!" tai "Peli seis!" niin kaikki pelaajat toistavat komennon
					kovaan ääneen niin etta kaikki sen kuulevat.</td>
			</tr>
			<tr>
				<th>Pelinjohtaja on pomo</th>
				<td>
					Kerrallaan pelissä on yksi pelinjohtaja joka on sillä hetkellä diktaattorin asemassa. Jos pelinjohtaja tahtoo katkaista pelin,
					hän voi sen tehdä. Tietysti tyhmiä komentoja antanut pelinjohtaja oli sitten siinä hommassa viimeistä kertaa...</td>
			</tr>
			<tr>
				<th>Päähän paukuttelu</th>
				<td>Päähän saa ampua vain jos muuta ruumiinosaa ei näy ja pää ei ole liian lähellä.</td>
			</tr>
		</tbody>
	</table>
</div>