<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Saanto</th>
				<th>Tarkennuksia</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Silmasuojaus</th>
				<td>Pelatessa kaikilla tulee olla asianmukainen silmasuojaus. Kaikki epavarmat silmasuojat testataan.
					Jos et halua etta epavarmat siljasuojasi testataan, ei niilla pelaamaankaan paasteta.
				</td>
			</tr>
			<tr>
				<th>Komennot toistetaan</th>
				<td>Kun pelinjohtaja huutaa komennon, kuten "Peli kay!" tai "Peli seis!" niin kaikki pelaajata toistavat komennon
					kovaan aaneen niin etta kaikki sen kuulevat.</td>
			</tr>
			<tr>
				<th>Pelinjohtaja on pomo</th>
				<td>Kerrallaan pelissa on yksi pelinjohtaja joka on silla hetkella diktaattorin asemassa. Jos pelinjohtaja tahtoo katkaista pelin,
					han voi sen tehda. Tietysti tyhmia komentoja antanut pelinjohtaja oli sitten siina hommassa viimeista kertaa...</td>
			</tr>
		</tbody>
	</table>
</div>