<div class="span8">
	<h2>Turve teloa!</h2>
	<div>
		Nää on tämmöset kivat pikku softisivut.
	</div>
</div>
<div class="span4">
	<h2>Uusimmat uutiset</h2>
	<table class="table table-striped">
		<tbody>
			<% Uutinen.all.each do |uutinen| %>
				<tr>
					<td><span class="uutinen_dates"><%= uutinen.created_at.strftime("%d.%m.%Y")%></span> <%= uutinen.content %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>