<div class="row">
	<% @pelit_visible.each do |peli| %>
		<div class="span12">
			<h2><%= peli.time.strftime("%d.%m") %> <%= peli.place %></h2>
			<p>
				<%= peli.description %>
			</p>
		</div>
	<% end %>
</div>
