<div class="row">
	<div class="span5">
		<h3>Ajo ohjeet</h3>
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=d&amp;source=s_d&amp;saddr=60.982571,25.661641&amp;daddr=Kaukelantie+304,+17530+Padasjoki,+Suomi&amp;hl=fi&amp;geocode=FSuFogMdyZCHAQ%3BFTDgqAMd3JZ_ASlTNbde-bCPRjE7lJKmHgamUg&amp;sll=61.39828,25.143263&amp;sspn=0.009029,0.033023&amp;mra=ml&amp;dmli=0&amp;glp=1&amp;ie=UTF8&amp;ll=61.190485,25.41154&amp;spn=0.41731,0.54494&amp;t=m&amp;output=embed"></iframe><br /><small><a href="http://www.google.com/maps?f=d&amp;source=embed&amp;saddr=60.982571,25.661641&amp;daddr=Kaukelantie+304,+17530+Padasjoki,+Suomi&amp;hl=fi&amp;geocode=FSuFogMdyZCHAQ%3BFTDgqAMd3JZ_ASlTNbde-bCPRjE7lJKmHgamUg&amp;sll=61.39828,25.143263&amp;sspn=0.009029,0.033023&amp;mra=ml&amp;dmli=0&amp;glp=1&amp;ie=UTF8&amp;ll=61.190485,25.41154&amp;spn=0.41731,0.54494&amp;t=m" style="color:#0000FF;text-align:left">Näytä suurempi kartta</a></small>	
	</div>
	<div class="span7">
		<h2>Hämeen Lanka</h2>
		<div>
			Sisäpelipaikkamme sijaitsee Padasjoen Arrakoskella. Joo, ihan kuusessa, mutta paikka on kuitenkin ihan hyvä.
		</div>
		<button class="btn btn-info" onclick="window.location = '/pelipaikka/1'">Lisätietoja</button>
	</div>
</div>

<div class="row">
	<div class="span5">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fi/maps?f=d&amp;source=s_d&amp;saddr=Lahti&amp;daddr=60.857776,+25.577502&amp;geocode=FX6FogMdGJCHASmTdmrVMCiORjHQtEtVUbUABA%3BFbCdoAMdHkiGAQ&amp;aq=0&amp;oq=Lahti&amp;sll=60.857223,25.578833&amp;sspn=0.008809,0.033023&amp;hl=fi&amp;mra=ls&amp;ie=UTF8&amp;ll=60.916005,25.61032&amp;spn=0.13335,0.10228&amp;t=m&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fi/maps?f=d&amp;source=embed&amp;saddr=Lahti&amp;daddr=60.857776,+25.577502&amp;geocode=FX6FogMdGJCHASmTdmrVMCiORjHQtEtVUbUABA%3BFbCdoAMdHkiGAQ&amp;aq=0&amp;oq=Lahti&amp;sll=60.857223,25.578833&amp;sspn=0.008809,0.033023&amp;hl=fi&amp;mra=ls&amp;ie=UTF8&amp;ll=60.916005,25.61032&amp;spn=0.13335,0.10228&amp;t=m" style="color:#0000FF;text-align:left">Näytä suurempi kartta</a></small>
	</div>
	<div class="span7">
		<h2>Metsäpalsta</h2>
		<div>
			Hienoa kamaa. Todella hienoa.
		</div>
		<button class="btn btn-info" onclick="window.location = '/pelipaikka/2'">Lisätietoja</button>
	</div>
</div>

<div class="row">
	<div class="span5">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fi/maps?f=d&amp;source=s_d&amp;saddr=60.982571,25.661641&amp;daddr=M%C3%A4kel%C3%A4ntie&amp;geocode=FSuFogMdyZCHAQ%3BFZj8owMd3syKAQ&amp;aq=0&amp;oq=Lahti&amp;sll=61.077946,25.877953&amp;sspn=0.009122,0.033023&amp;hl=fi&amp;mra=dme&amp;mrsp=1&amp;sz=16&amp;dmli=0&amp;glp=1&amp;ie=UTF8&amp;ll=61.077946,25.877953&amp;spn=0.009122,0.033023&amp;t=m&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fi/maps?f=d&amp;source=embed&amp;saddr=60.982571,25.661641&amp;daddr=M%C3%A4kel%C3%A4ntie&amp;geocode=FSuFogMdyZCHAQ%3BFZj8owMd3syKAQ&amp;aq=0&amp;oq=Lahti&amp;sll=61.077946,25.877953&amp;sspn=0.009122,0.033023&amp;hl=fi&amp;mra=dme&amp;mrsp=1&amp;sz=16&amp;dmli=0&amp;glp=1&amp;ie=UTF8&amp;ll=61.077946,25.877953&amp;spn=0.009122,0.033023&amp;t=m" style="color:#0000FF;text-align:left">Näytä suurempi kartta</a></small>
	</div>
	<div class="span7">
		<h2>Toinen Metsapalsta</h2>
		<div>
			Aivan säkenöivän ihanaa.
		</div>
		<button class="btn btn-info" onclick="window.location = '/pelipaikka/3'">Lisätietoja</button>
	</div>
</div>