<div class="row">
	<div class="span12">
		<h2>Lauantaina 19.5 tetsaamaan Kaijansinkon pöpelikköön.</h2>
		<p>
			Kaikki kynnelle kykenevät kokoontuvat klo 11.00 Kaijansinkon puutarhan luona. Sää näyttäis ihan kivalta pelaamiseen. Ilmotelkaa puuhamiehille jos pääsette/ette pääse. 
		</p>
	</div>
	
</div>
