<div class="span12">
	<h2>Pelit lauantaina 13.5 Hameen Langassa</h2>
	<div>
		Tarkoitus olisi yllamainittuna paivana menna pelaamaan Hameen langan varastohalliin. Suurin osa jengistahan
		tuntee jo mestan. Mutta etta nain. Kyyteja saa kysella pomoilta.
	</div>
</div>
