<div class="row">
	<div class="span12">
		<h2>Pelit lauantaina 13.5 Hämeen Langassa tai Kaijansinkon läheisessä metikossa</h2>
		<p>
			Elikka olisi mennä pelailemaan ensi lauantaina jommassa kummassa paikassa sään mukaan. Sateen yllättäessä mennään
			Hämeen Lankaan, muussa tapauksessa Mäkelään. Lisätietoja pelinjärjestäjiltä.
		</p>
	</div>
	
</div>
