<div class="span12">
	<h2>Pelit lauantaina 13.5 Hämeen Langassa tai Kaijan Sinkon metikossa</h2>
	<div>
		Tarkoitus olisi mennä pelailemaan ensi lauantaina jommassa kummassa paikassa sään mukaan. Sateen yllättäessä mennään
		Hämeen Lankaan, muussa tapauksessa Mäkelään. Lisätietoja pelinjärjestäjiltä.
	</div>
</div>
