<div>
	<h2>Pomojen yhteystietoja</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Tiedot</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Teemu Vainio</th>
				<td>
					Puuhamies ja toiminnan päävetäjä.<br/>
					Puh. 044-5012595
				</td>
			</tr>
			<tr>
				<th>Eetu Salmensuu</th>
				<td>
					Puuhamies ja toiminnan toinen päävetäjä.<br/>
					Puh. 044-3079680
				</td>
			</tr>
			<tr>
				<th>Tomi Tolvanen</th>
				<td>
					Muuten vaan puuhamies.<br/>
					Puh. 044-5220335
				</td>
			</tr>
		</tbody>
	</table>
</div>