<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Tiedot</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Teemu Vainio</th>
				<td>
					Pomojen pomo, Il Duce, Führer ja kaikkea sinne päin.<br/>
					Puh. 044-5012595
				</td>
			</tr>
			<tr>
				<th>Eetu Salmensuu</th>
				<td>
					Pikkupomo, pomojen pomon pikku kätyri ja käsikassara.<br/>
					Puh. 044-entiedäsitä
				</td>
			</tr>
			<tr>
				<th>Tomi Tolvanen</th>
				<td>
					Nimellinen pomo, pelkästä säälistä, kun vinkus niin pal...<br/>
					Puh. 044-entiedätätäkään
				</td>
			</tr>
		</tbody>
	</table>
</div>