/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= twitter/bootstrap .
*/


.uutinen_dates {
	font-weight: bold;
}

body {
	background-image: url('neukut.jpg');
	background-size: cover;
}

.navbar .nav > li > span#user_greeting {
  float: left;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #999999;
  display: block;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.kamat {
	background-color: white;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
